*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    margin-top: 17vmin;
    width: 30%;
    padding: 1rem;
    border-radius: 0.50rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#start{
    margin-top: 4vmin;
    cursor:pointer;
    width: 10vmax;
    height: 1.7rem;
    border-radius: 0.50rem;
    background-color: hotpink;
    border: 0;
    margin-right: 1rem;
}
h2{
    margin-bottom: 3rem;
}
#msg-content{
    font-size: 4vmin;
}
.highlight{
    background-color: yellow;
    border-radius: 0.25rem;
}
#restart{
    margin-top: 4vmin;
    cursor:pointer;
    width: 10vmax;
    height: 1.7rem;
    border-radius: 0.50rem;
    background-color: #98ABEE;
    border: 0;
}
.error{
    background-color: red;
    border-radius: 0.25rem;

}